<mdb-card class="w-50" style="margin: 0 auto;">
  <mdb-card-body>
    <!-- Material form register -->
    <form >
      <p class="h4 text-center py-4">Sign up</p>

      <!-- Material input text -->
      <div class="md-form">
        <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
        <input type="text" id="materialFormCardNameEx" formControlName="materialFormCardNameEx" class="form-control" mdbInput>
        <label for="materialFormCardNameEx" class="font-weight-light">Your name</label>
      </div>

      <!-- Material input email -->
      <div class="md-form">
        <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
        <input type="email" id="materialFormCardEmailEx" formControlName="materialFormCardEmailEx" class="form-control" mdbInput>
        <label for="materialFormCardEmailEx" class="font-weight-light">Your email</label>
      </div>

      <!-- Material input email -->
      <div class="md-form">
        <mdb-icon fas icon="exclamation-triangle" class="prefix grey-text"></mdb-icon>
        <input type="email" id="materialFormCardConfirmEx" formControlName="materialFormCardConfirmEx" class="form-control" mdbInput>
        <label for="materialFormCardConfirmEx" class="font-weight-light">Confirm your email</label>
      </div>

      <!-- Material input password -->
      <div class="md-form">
        <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
        <input type="password" id="materialFormCardPasswordEx" formControlName="materialFormCardPasswordEx" class="form-control"
          mdbInput>
        <label for="materialFormCardPasswordEx" class="font-weight-light">Your password</label>
      </div>

      <div class="text-center py-4 mt-3">
        <button mdbBtn color="cyan" class="waves-light" type="submit" mdbWavesEffect>Register</button>
      </div>
    </form>
    <!-- Material form register -->
  </mdb-card-body>
</mdb-card>
